@charset "UTF-8";
/* Modules */
/* Design System*/
/* Colors */
/* Text Configuration*/
.appBar {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.appBar__container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.appBar__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  width: 10.125rem;
  height: 1.875rem;
  padding-right: 19px;
  padding-left: 16px;
  margin-top: 14px;
  margin-bottom: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.appBar__localisation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.appBar__icone-localisation {
  color: #353535;
}
.appBar__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.appBar__form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 17px;
}
.appBar__input {
  font-size: 1rem;
  font-weight: 500;
  background: #EAEAEA;
  color: #353535;
  border: none;
  width: 130px;
}
.appBar__input::placeholder {
  color: #353535;
}
@media (min-width: 768px) {
  .appBar__container-logo {
    box-shadow: none;
  }
  .appBar__localisation {
    box-shadow: none;
  }
}

.hero {
  display: block;
  unicode-bidi: isolate;
}
.hero__content {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  max-width: 275px;
  height: 68px;
  margin-top: 39px;
  margin-left: 42px;
  margin-right: 58px;
  margin-bottom: 0;
}
.hero__description {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.313rem;
  font-style: normal;
  color: #353535;
  max-width: 315px;
  height: 46px;
  margin-left: 34px;
  margin-right: 26px;
  margin-bottom: 27px;
}
.hero__button {
  width: 218px;
  height: 50px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  color: #ffffff;
  text-align: center;
  border: 0px;
  margin-left: 82px;
  margin-right: 75px;
  margin-bottom: 57px;
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /* Text button */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.188rem;
  font-style: normal;
  position: relative;
  z-index: 1;
}
.hero__button:hover::after {
  opacity: 1;
}
.hero__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  /* Shadow/Button */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
@media (min-width: 1024px) {
  .hero {
    display: block;
    unicode-bidi: isolate;
  }
  .hero__content {
    gap: 18px;
  }
  .hero__title {
    max-width: 100%;
    margin-top: 30px;
    height: 47px;
  }
  .hero__description {
    max-width: 100%;
    margin-bottom: 0px;
  }
  .hero__button {
    margin-bottom: 30px;
  }
}

.functioning {
  display: block;
  unicode-bidi: isolate;
}
.functioning__content {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.functioning__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  font-style: normal;
  width: 275px;
  height: 31px;
  margin: 48px 60px 26px 0px;
}
.functioning__articles {
  display: flex;
  flex-direction: column;
  gap: 24.94px;
}
.functioning__article-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 322.486px;
  height: 72.379px;
  background-color: #F6F6F6;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-left: 13px;
}
.functioning__article-item:last-child {
  margin-bottom: 68px;
}
.functioning__article-text {
  line-height: 1.188rem;
  font-size: 1rem;
  font-style: normal;
  width: 211px;
  height: 15.67px;
  position: absolute;
  bottom: 28px;
  right: 38px;
  left: 73px;
  top: 13px;
}
.functioning__article-icon {
  width: 13.019px;
  height: 19.903px;
  font-size: 20px;
  bottom: 28px;
  top: 25px;
  left: 33px;
  right: 276px;
  position: absolute;
}
.functioning__article-icon--purple {
  color: #9356DC;
}
.functioning__article-number {
  font-weight: 500;
  line-height: 1.063rem;
  font-size: 0.886rem;
  font-style: normal;
  color: #ffffff;
  top: 3.95px;
  left: 7px;
  right: 311.73px;
  position: absolute;
}
.functioning__article-circle {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  border: none;
  bottom: 21.52px;
  right: 311px;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .functioning__articles {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .functioning {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .functioning__content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 1080px;
    width: 100%;
  }
  .functioning__title {
    margin: 0px;
  }
  .functioning__articles {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .functioning__article-item:last-child {
    margin-bottom: 0px;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-top: 54px;
  padding-left: 17px;
  padding-right: 18px;
  height: 100%;
  gap: 19px;
}
.restaurants__title {
  margin-top: 0px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100%;
}
.restaurants__cards:last-child {
  margin-bottom: 66px;
}
.restaurants__cards a {
  width: 100%;
  height: 100%;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.restaurants__card img {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 13px;
  right: 12px;
}
.restaurants__img-label-overlay {
  width: 61.37px;
  color: #008766;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  font-style: normal;
}
.restaurants__card-content {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  padding-bottom: 12px;
}
.restaurants__card-title {
  width: 267px;
  height: 20px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.313rem;
  font-style: normal;
  margin-top: 16px;
  margin-bottom: 5px;
}
.restaurants__card-subtitle {
  width: 247px;
  height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.063rem;
  font-weight: 300;
  line-height: 1.25rem;
  font-style: normal;
}
.restaurants__heart-icon {
  width: 22px;
  height: 21px;
  position: absolute;
  right: 25px;
  bottom: 33px;
  transform: scale(1.5); /* Ajustez l'échelle selon vos besoins */
  transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
}
@media (min-width: 768px) {
  .restaurants__cards {
    display: flex;
    flex-direction: row; /* Disposition en ligne */
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
    column-gap: 25px;
    row-gap: 50px;
  }
  .restaurants__cards a {
    width: 47%;
  }
  .restaurants__card {
    flex: 1 1 calc(50% - 100px); /* Chaque élément prend 50% de la largeur moins l'espace du gap */
  }
  .restaurants .wrapper-restaurant {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .restaurants__cards {
    column-gap: 50px;
    row-gap: 100px;
  }
}

.fa-solid-heart-restaurants {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: transparent; /* Pour éviter de superposer les couleurs */
  background: linear-gradient(135deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
  /* &__li {
    width: 200px;

    &--small {
      width : 130px;
    }
  } */
}
.footer__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer__title {
  width: 137.582px;
  height: 27px;
  font-family: "Shrikhand", sans-serif;
  color: #ffffff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  margin: 0px;
}
.footer__subtitle-container * {
  color: #ffffff;
}
.footer__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.footer__utensils-icon {
  margin-right: 11px;
}
.footer__handshake-icon {
  margin-right: 5px;
}
.footer__a {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.188rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 30px 25px;
  }
  .footer__container {
    flex-direction: row-reverse;
  }
  .footer__ul {
    flex-direction: row;
  }
  .footer__li:nth-child(2) {
    margin-right: 30px;
  }
  .footer__li:last-child {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__li:nth-child(2) {
    margin-right: 40px;
  }
  .footer__li:last-child {
    margin-right: 60px;
  }
}

.fa-solid__handshake-icon-footer {
  color: #F6F6F6;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  transform: rotate(var(--fa-rotate-angle, none)) scale(0.7);
  transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
}

/****** General ***********/
/* Fonts*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: black;
}

.fa-solid {
  color: #7E7E7E;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  /* overflow-x: hidden;  /* empeche le scrolling horizontal */
}

.main-container {
  width: 100%;
  padding: 0 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
}

/*
on applique notre transition sur cette classe commune 
*/
.custom-icon {
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}

/*
par défaut on est en noir sur le coeur vide
*/
.custom-icon:before {
  color: black;
}

/*
 couleur du coeur rempli
*/
.fa-solid.custom-icon:before {
  color: #9356DC;
}

/*
le coeur rempli est masqué par défaut
*/
.fa-solid.custom-icon {
  opacity: 0;
}

/*
le coeur vide est visible par défaut
*/
.fa-regular.custom-icon {
  opacity: 1;
}

/*
sur le hover, on masque le coeur vide et on affiche le coeur rempli
*/
.fa-solid.custom-icon:hover {
  opacity: 1;
}

.fa-regular.custom-icon:hover {
  opacity: 0;
}

/*
on positionne les deux icon au même endroit pour faire l'animation
*/
.custom-icon-wrapper {
  width: 16px;
  height: 16px;
  position: relative;
  position: absolute;
  right: 25px;
  bottom: 33px;
}

.custom-icon-wrapper .custom-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 23px;
}

/*# sourceMappingURL=style.css.map */
