.appBar {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  &__container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }

  &__logo {
    font-family: $logo-font-family;
    font-size: $logo-font-size;
    font-weight: $logo-font-weight;
    line-height: $logo-line-height;
    width: 10.125rem;
    height: 1.875rem;  
    padding-right: 19px;
    padding-left: 16px;
    margin-top: 14px;
    margin-bottom: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__localisation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: $appBar-localisation-bg-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &__icone-localisation {
    color: $footer-bg-color;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 17px;
  }

  &__input {
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    background: $appBar-localisation-bg-color;
    color: $footer-bg-color;
    border: none;
    width: 130px;
  }

  &__input::placeholder {
    color: $footer-bg-color;
  }

  @media (min-width: $breakpoint-tablet) {
    &__container-logo {
      box-shadow: none;
    }  

    &__localisation {
      box-shadow: none;
    }
  }


}