.functioning {
  display: block;
  unicode-bidi: isolate;

  &__content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    line-height: $title-line-height;
    font-style: normal;
    width: 275px;
    height: 31px;
    margin: 48px 60px 26px 0px;
  }

  &__articles {
    display: flex;
    flex-direction: column;
    gap: 24.94px;
  }

  &__article-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 322.486px;
    height: 72.379px;
    background-color: $main-bg-color;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    position : relative;
    margin-left: 13px;
  
    &:last-child {
      margin-bottom: 68px;
    }
  }

  &__article-text {
    //font-weight: var(--body-font-weight);
    line-height: $body-line-height;
    font-size: $body-font-size;
    font-style: normal;
    width: 211px;
    height: 15.67px;
    position: absolute;
    bottom: 28px;
    right: 38px;
    left: 73px;
    top: 13px
  }

  &__article-icon {
    width: 13.019px;
    height: 19.903px;
    font-size: 20px;
    bottom: 28px;
    top: 25px;
    left: 33px;
    right: 276px;
    position: absolute;
  
    &--purple {
      color: $main-color;
    }
  }

  &__article-number {
    font-weight: $body-font-weight;
    line-height: $number-step-line-height;
    font-size: $number-step-font-size;
    font-style: normal;
    color: $secondary-bg-color;
    top: 3.95px;
    left: 7px;
    right: 311.73px;
    position: absolute;
  }

  &__article-circle {
    width: 24px;
    height: 24px;
    background-color: $main-color;
    border-radius: 50%;
    border: none;
    bottom: 21.52px;
    right: 311px;
    position: absolute;
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    &__articles {
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    &__content {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 0px;
      padding-right: 0px;
      gap: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
      max-width: $max-width;
      width: 100%;
    }
    
    &__title { 
      margin: 0px;
    }
    
    &__articles {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__article-item {
        
        &:last-child {
          margin-bottom: 0px;
        }
      }
  }



}