
@media (max-width: 768px) {  
 .functioning__title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);
    font-style: normal;
    width: 275px;
    height: 31px;
    margin: 48px 60px 26px 0px;
 }
    
}
