
@media (max-width: 768px) { 
    
 .functioning__content {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
 }

 .functioning__title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);
    font-style: normal;
    width: 275px;
    height: 31px;
    margin: 48px 60px 26px 0px;
 }

 .functioning__buttons {
    display: flex;
    flex-direction: column;
    gap: 24.94px;
 }

 .functioning__button-item {
    width: 322.486px;
    height: 72.379px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
 }
    
}
