.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  padding-top: 54px;
  padding-left: 17px;
  padding-right: 18px;
  height: 100%;
  gap: 19px;

  &__title {
    margin-top: 0px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
 
    &:last-child {
      margin-bottom: 66px;
    } 

    a {
      width: 100%;
      height: 100%;
    }
  } 


  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    background: $secondary-bg-color;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    position : relative;

    img {
      width: 100%;
      height: 231px;
      border-radius: 15px 15px 0px 0px;
    }
  }

  &__img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    background: $validate-menu-color;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position : absolute;
    top: 13px;
    right: 12px;
  }

  &__img-label-overlay {
    width: 61.37px;
    color: $font-overlay-color;
    text-align: center;
    font-size: $body-text-overlay-font-size;
    font-weight: $body-text-overlay-font-weight;
    line-height: $body-text-overlay-line-height;
    font-style: normal;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-bottom: 12px;
  }

  &__card-title {
    width: 267px;
    height: 20px;
    font-size: $body-highlight-font-size;
    font-weight: $title-font-weight;
    line-height: $body-highlight-line-height;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 5px;
  }

  &__card-subtitle {
    width: 247px;
    height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: $body-paragraph-font-size;
    font-weight: $body-paragraph-font-weight;
    line-height: $body-paragraph-line-height;
    font-style: normal;
  }

  &__heart-icon {
    width: 22px;
    height: 21px;
    position : absolute;
    right: 25px;
    bottom: 33px;
    transform: scale(1.5); /* Ajustez l'échelle selon vos besoins */
    transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    &__cards {
      display: flex;
      flex-direction: row; /* Disposition en ligne */
      flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
      column-gap: 50px;
      row-gap: 100px;
      a {
        width: 47%;
      }
    } 

    &__card {
      flex: 1 1 calc(50% - 100px); /* Chaque élément prend 50% de la largeur moins l'espace du gap */
    }
    .wrapper-restaurant {
      max-width: $max-width;
      width: 100%;
      margin: 0 auto;
    }
  }
  

}

.fa-solid-heart-restaurants {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased; 
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: transparent; /* Pour éviter de superposer les couleurs */
  background: $gradient-color;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}