/* Modules */
@import './variables.scss';
@import './appBar.scss';
@import './hero.scss';
@import './fonctionnement.scss';
@import './restaurants.scss';
@import './footer.scss';
// imports sass restaurant pour avoir une seule feuille de style
@import '../restaurants/SASS/variables.scss';
@import '../restaurants/SASS/appBar.scss';
@import '../restaurants/SASS/menus.scss';
@import '../restaurants/SASS/footer.scss';


/****** General ***********/
/* Fonts*/
* {
 font-family: 'Roboto', sans-serif;
 box-sizing: border-box;
 color: black;
}

.fa-solid {
 color: $icon-functioning-color;
}

body {
 display: flex;
 justify-content: center;
 margin: 0;
 /* overflow-x: hidden;  /* empeche le scrolling horizontal */
}

.main-container {
 width: 100%;
 // max-width: 1440px;
 padding: 0 0px;
 box-sizing: border-box;
}

a {
 color: inherit;
 text-decoration: none;
 height: 100%;
 width: 100%;
}

img {
  object-fit: cover;
}



/*
on applique notre transition sur cette classe commune 
*/
.custom-icon {
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}
/*
par défaut on est en noir sur le coeur vide
*/
.custom-icon:before {
  color: black;
}
/*
 couleur du coeur rempli
*/
.fa-solid.custom-icon:before {
  color: #9356DC;
  position: relative;
  top: -23px;
}
/*
le coeur rempli est masqué par défaut
*/
.fa-solid.custom-icon {
  opacity: 0;
}
/*
le coeur vide est visible par défaut
*/
.fa-regular.custom-icon {
  opacity: 1;
}
/*
sur le hover, on masque le coeur vide et on affiche le coeur rempli
*/
// .fa-solid.custom-icon:hover {
.fa-solid.custom-icon:hover {
  opacity: 1;
}
.fa-regular.custom-icon:hover {
  opacity: 0;
}

/*
on positionne les deux icon au même endroit pour faire l'animation
*/

.custom-icon-wrapper {
  width:16px;
  height: 16px;
  position: absolute;
  // right: 25px;
  // bottom: 33px;
}
.custom-icon-wrapper .custom-icon {
  position: relative;
  top: -2px;
  left: 300px;
  font-size: 23px;

  @media (min-width: $breakpoint-tablet) {
    top: 7px;
    left: 300px;
  }
}