@charset "UTF-8";
/* Modules */
/* Design System*/
/* Colors */
/* Text Configuration*/
.appBar {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.appBar__container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.appBar__ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.appBar__icon-back-link {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 7px;
  padding-top: 11px;
  padding-left: 17px;
  transform: scale(1.5); /* Ajustez l'échelle selon vos besoins */
  transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
}
.appBar__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  width: 10.125rem;
  height: 1.875rem;
  padding-top: 9px;
  padding-right: 19px;
  padding-left: 16px;
  margin-top: 14px;
  margin-bottom: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.fa-solid-black-link-appBar {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: #353535;
}

.menus {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-top: 35px;
  padding-left: 17px;
  padding-right: 18px;
  padding-bottom: 40px;
  gap: 40px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -50px;
}
@media (min-width: 768px) {
  .menus {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
.menus__container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 40px 40px 0px 0px;
}
.menus__title {
  width: auto;
  height: 27px;
  color: var(--Black, #101010);
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.563rem;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (min-width: 768px) {
  .menus__title {
    margin-top: 20px;
  }
}
.menus__heart-icon {
  width: 22px;
  height: 21px;
  position: absolute;
  left: 295px;
  top: 5px;
  right: 24px;
  bottom: 33px;
  transform: scale(1.5); /* Ajustez l'échelle selon vos besoins */
  transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
}
@media (min-width: 768px) {
  .menus__heart-icon {
    top: 26px;
  }
}
.menus__menu-containers {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .menus__menu-containers {
    margin: 0 auto;
    width: 70%;
  }
}
.menus__subtitle {
  margin-top: 0px;
  width: 275px;
  height: 27px;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.188rem;
  margin-bottom: 12px;
  text-transform: uppercase;
  position: relative;
}
.menus__subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px; /* Spécifiez la longueur du trait ici */
  height: 3px; /* Spécifiez l'épaisseur du trait ici */
  background-color: #99E2D0; /* ou toute autre couleur de votre choix */
}
.menus__cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menus__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px;
  background: var(--secondary-bg-color);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.menus__card-content {
  width: calc(100% + 59px);
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: row;
}
.menus__card-content:hover {
  width: 100%;
}
.menus__card-content-text {
  display: flex;
  width: 100%;
  padding-right: 10px;
}
.menus__card-content:hover .menus__card-check-button {
  transform: translateX(0);
}
.menus__card-content:hover .menus__card-content-text {
  width: calc(100% - 59px);
}
.menus__card-descript-text {
  display: flex;
  width: calc(100% - 35px);
  transition: all 1s ease-in-out;
  flex-direction: column;
  gap: 5px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 11px;
}
.menus__card-title {
  height: 21px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.313rem;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus__card-subtitle {
  height: 19px;
  font-size: 0.94rem;
  font-weight: 300;
  line-height: 1.125rem;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
}
.menus__card-price {
  position: relative;
}
.menus__card-number {
  text-align: center;
  font-size: 0.94rem;
  font-weight: 700;
  line-height: 1.125rem;
  font-style: normal;
  position: absolute;
  bottom: -4px;
}
.menus__card-number p {
  white-space: nowrap;
}
.menus__card-check-button {
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 69px;
  gap: 0px;
  transition: all 1s ease-in-out;
  border-radius: 0px 15px 15px 0px;
  transform: translateX(60px);
}
.menus__card-icon-check-button-circle {
  min-width: 30px; /* Largeur du cercle */
  min-height: 30px;
  border-radius: 50%; /* Assure que le cercle est arrondi */
  background-color: #fdfeff; /* Couleur de fond du cercle */
  border: none;
  display: flex; /* Permet d'aligner l icone check au centre */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  /* &__card-icon-check-button-circle > &__card-icon-check-button {
    color: $validate-menu-color;
    font-size: large;
  } */
}
.menus__card-icon-check-button-circle > .menus__card-icon-check-button {
  color: #99E2D0;
  font-size: large;
}
.menus__euro-sign-container {
  display: flex;
  align-items: center;
}
.menus__button-container {
  display: flex;
  justify-content: center;
}
.menus__button {
  width: 186px;
  height: 50px;
  /* Text button */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.188rem;
  font-style: normal;
  text-align: center;
  border-radius: 25px;
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #ffffff;
  border: 0px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.menus__button:hover::after {
  opacity: 1;
}
.menus__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  /* Shadow/Button */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
@media (min-width: 768px) {
  .menus__container-title {
    margin: 0 auto;
  }
  .menus__menu-containers {
    margin: 0 auto;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 275px;
  background: url(<path-to-image>) lightgray 50%/cover no-repeat;
}

.fa-solid-euro-sign-menu {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: #353535;
}

.fa-solid-heart-menus {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: black; /* Pour éviter de superposer les couleurs */
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
  /* &__container a {
    width: auto;
  } */
  /* &__li {
    width: 200px;

    &--small {
      width : 130px;
    }
  } */
}
.footer__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer__container a {
  width: auto;
}
.footer__title {
  width: 137.582px;
  height: 27px;
  font-family: "Shrikhand", sans-serif;
  color: #ffffff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  margin: 0px;
}
.footer__subtitle-container * {
  color: #ffffff;
}
.footer__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.footer__utensils-icon {
  margin-right: 11px;
}
.footer__handshake-icon {
  margin-right: 5px;
}
.footer__a {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.188rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 30px 25px;
  }
  .footer__container {
    flex-direction: row-reverse;
  }
  .footer__ul {
    flex-direction: row;
  }
  .footer__li:nth-child(2) {
    margin-right: 30px;
  }
  .footer__li:last-child {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer__li:nth-child(2) {
    margin-right: 40px;
  }
  .footer__li:last-child {
    margin-right: 60px;
  }
}

.fa-solid__handshake-icon-footer {
  color: #F6F6F6;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  transform: rotate(var(--fa-rotate-angle, none)) scale(0.7);
  transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
}

/****** General ***********/
/* Fonts*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  /* overflow-x: hidden;  /* empeche le scrolling horizontal */
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 0px;
  box-sizing: border-box;
}

.fa-solid {
  color: #7E7E7E;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

/*
on applique notre transition sur cette classe commune 
*/
.custom-icon {
  transition: all 0.5s ease-in-out;
  font-size: 20px;
}

/*
par défaut on est en noir sur le coeur vide
*/
.custom-icon:before {
  color: black;
}

/*
 couleur du coeur rempli
*/
.fa-solid.custom-icon:before {
  color: #9356DC;
}

/*
le coeur rempli est masqué par défaut
*/
.fa-solid.custom-icon {
  opacity: 0;
}

/*
le coeur vide est visible par défaut
*/
.fa-regular.custom-icon {
  opacity: 1;
}

/*
sur le hover, on masque le coeur vide et on affiche le coeur rempli
*/
.fa-solid.custom-icon:hover {
  opacity: 1;
}

.fa-regular.custom-icon:hover {
  opacity: 0;
}

/*
on positionne les deux icon au même endroit pour faire l'animation
*/
.custom-icon-wrapper {
  width: 16px;
  height: 16px;
  position: relative;
  position: absolute;
  left: 285px;
  top: 22px;
  right: 24px;
  bottom: 33px;
}

.custom-icon-wrapper .custom-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 23px;
}

/*# sourceMappingURL=style.css.map */
