.appBar {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  &__container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }

  &__ul {    // c'est le conteneur des li donc on passe par lui pour gérer les espaces entre eux
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &__icon-back-link {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 7px;
    padding-top: 11px;
    padding-left: 17px;
    transform: scale(1.5); /* Ajustez l'échelle selon vos besoins */
    transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
  }

  &__logo {
    font-family: $logo-font-family;
    font-size: $logo-font-size;
    font-weight: $logo-font-weight;
    line-height: $logo-line-height;
    width: 10.125rem;
    height: 1.875rem;
    padding-top: 9px;
    padding-right: 19px;
    padding-left: 16px;
    margin-top: 14px;
    margin-bottom: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
  }


}

.fa-solid-black-link-appBar {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color:$footer-bg-color ;
}