.menus {
    display: flex;
    flex-direction: column;
    background-color: $main-bg-color;
    padding-top: 32px;
    padding-left: 17px;
    padding-right: 18px;
    gap: 40px;
}

.menus__container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.menus__title {
    width: auto;
    height: 27px;
    color: var(--Black, #101010);
    font-family: $title-font-family;
    font-size:  $menu-title-font-size;
    font-style: normal;
    font-weight: $menu-title-font-weight;
    line-height: $menu-title-line-height;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.menus__heart-icon {
    width: 22px;
    height: 21px;
    position : absolute;
    left: 295px;
    top: 5px;
    right: 24px;
    bottom: 33px;
    transform: scale(1.5); /* Ajustez l'échelle selon vos besoins */
    transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */
}

.fa-solid-heart-menus {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    color: black; /* Pour éviter de superposer les couleurs */
}

.menus__cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menus__card {
    display: flex;
    flex-direction: column;
    height: 100%;
 // max-width: 340px;
 // height: 251px;
    border-radius: 15px;
    background: var(--secondary-bg-color);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    position : relative;
}

.menus__cards:last-child {
    margin-bottom: 66px;
}

.menus__card-content {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-bottom: 12px;
}

.menus__card-title {
    width: 267px;
    height: 20px;
    font-size: var(--body-highlight-font-size);
    font-weight: var(--title-font-weight);
    line-height: var(--body-highlight-line-height);
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 5px;
}

.menus__card-subtitle {
    width: 247px;
    height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: var(--body-paragraph-font-size);
    font-weight: var(--body-paragraph-font-weight);
    line-height: var(--body-paragraph-line-height);
    font-style: normal;
}



