.menus {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  padding-top: 35px;
  padding-left: 17px;
  padding-right: 18px;
  padding-bottom: 40px;
  gap: 40px;
  border-radius: 40px 40px 0px 0px;
  position: relative; // sans cette propriété le bg ne chaevauche pas l'image
  margin-top: -50px;
  //top: -50px; /* Adjust the value to control the overlap */
  //z-index: 2; /* Ensure the section is above the image */

  @media (min-width: 768px) {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  &__container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-radius: 40px 40px 0px 0px;
  }

  &__title {
    width: auto;
    height: 27px;
    color: var(--Black, #101010);
    font-family: $title-font-family;
    font-size:  $menu-title-font-size;
    font-style: normal;
    font-weight: $menu-title-font-weight;
    line-height: $menu-title-line-height;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    display: flex;

    @media (min-width: 768px) {
      margin-top: 20px;
    }
  }

  &__heart-icon {
    width: 22px;
    height: 21px;
    position : absolute;
    left: 295px;
    top: 5px;
    right: 24px;
    bottom: 33px;
    transform: scale(1.5); /* Ajustez l'échelle selon vos besoins */
    transform-origin: center; /* Maintient l'icône au centre pendant le redimensionnement */

    @media (min-width: 768px) {
      top: 26px;
    }
  }

  &__menu-containers {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 768px) {
      margin: 0 auto;
      width: 70%;
    }
  }

  &__subtitle {
    margin-top: 0px;
    width: 275px;
    height: 27px;
    font-size: $body-highlight-font-size;
    font-style: normal;
    font-weight: $body-highlight-font-weight;
    line-height: $body-line-height;
    margin-bottom: 12px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px; /* Spécifiez la longueur du trait ici */
      height: 3px; /* Spécifiez l'épaisseur du trait ici */
      background-color: $validate-menu-color; /* ou toute autre couleur de votre choix */
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
 // max-width: 340px;
 // height: 251px;
    border-radius: 15px;
    background: var(--secondary-bg-color);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    position : relative;
  }

  &__card-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 11px;
    justify-content: space-between;
  }

  &__card-descript-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__card-title {
    width: 287px;
    height: 21px;
    font-size: $body-highlight-font-size;
    font-weight: $body-font-weight;
    line-height: $body-highlight-line-height;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__card-subtitle {
    width: 287px;
    height: 19px;
    font-size: $menu-card-subtitle-font-size;
    font-weight: $menu-card-subtitle-font-weight;
    line-height: $menu-card-subtitle-line-height;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &__card-price {
    display: flex;
    flex-direction: row;
    transform: translateY(12px);
    //gap: 12px;
  }

  &__card-number {
    text-align: center;
    font-size: $menu-card-subtitle-font-size;
    font-weight: $title-font-weight;
    line-height: $menu-card-subtitle-line-height;
    font-style: normal;
  }

  &__card-check-button {
    background-color:  $validate-menu-color;
    border: 1px solid $validate-menu-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 69px;
    gap: 0px;
    border-radius: 0px 15px 15px 0px;
    opacity: 0px;
 
  }

  &__card-icon-check-button {

  }

  &__card-icon-check-button-circle {
    min-width: 30px; /* Largeur du cercle */
    min-height: 30px; 
    margin-right: 10px;
    border-radius: 50%; /* Assure que le cercle est arrondi */
    background-color: #fdfeff; /* Couleur de fond du cercle */
    border: none;
    display: flex; /* Permet d'aligner l icone check au centre */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }

  &__euro-sign-container {
    display: flex;
    align-items: center;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 186px;
    height: 50px;
   /* Text button */
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    font-style: normal;
    text-align: center;
    border-radius: 25px;
    /* Shadow/Button */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background: $menu-button-gradient;
    color: $secondary-bg-color;
    border: 0px;
    position: relative;
    z-index: 1;
    &:hover { 
      &::after {
          opacity: 1;
      }
    }
    &::after {      
      content: "";   
      position: absolute;  
      top: 0; 
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0; 
      z-index: -1;  
      transition: opacity 500ms;
      border-radius: 25px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
      /* Shadow/Button */
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
  }

  @media (min-width: $breakpoint-tablet) {
    &__container-title {
        margin: 0 auto;
    }

    &__menu-containers {
        margin: 0 auto;
    }
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 275px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.fa-solid-euro-sign-menu {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: $footer-bg-color;
}

.fa-solid-heart-menus {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: black; /* Pour éviter de superposer les couleurs */
}